<%- include("partials/header"); -%>

<h1>About</h1>
<p>My name is Gustavo, I'm from Brazil but I currently live in Germany with my wife Sabrina! I've been learning' web development for a few months now.</p>

<%- include("partials/footer") -%>
